<div class="card text-center">
    <div class="card-header">
        <a [routerLink]="['/home']" class="logo">Yourpage</a>
        <a [routerLink]="['/auth']" class="float-right logout" title="Logout" (click)="onClickLogout()"></a>
        <!-- <ul class="nav nav-tabs card-header-tabs float-right logout">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" [routerLink]="['/auth']">Login</a>
      </li>
      <li class="nav-item">
      </li>
    </ul> -->
    </div>
</div>