.float-right {
    float: right;
}

.logout {
    margin-bottom: 0;
    text-decoration: none;
    background-image: url("/assets/logout.png");
    background-size: 95%;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    margin-right: 7px;
}

.logout:hover {
    background-size: 100%;
}

.card {
    border: 0;
    background-color: #d1e5ff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.card-header {
    padding: 15px;
    border-bottom: 1px solid #9ac3ff;
}