<div class="container">
    <div>
        <span class="btn btn-primary add-employee" (click)="onAddEmployee()">
            Add Employee
        </span>
        <div class="pop-up-EmployeeForm" *ngIf="displayForm">
            <app-register-employee (close)="onCloseForm()"></app-register-employee>
        </div>
    </div>
    <div class="form-heading">List of Employees</div>
    <div class="scroll-holder">
        <div class="employeeData col-xs-12" id="employeeData">
            <table class="w-100">
                <thead>
                    <tr>
                        <th class="px-2 py-2 empId">Employee ID</th>
                        <th class="px-2 py-2 empName">Name</th>
                        <th class="px-2 py-2 empEmail">Email</th>
                        <th class="px-2 py-2 empDept">Department</th>
                        <th class="px-2 py-2 empRpt">Reporting</th>
                        <th class="px-2 py-2 empAction">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="list-emp-row" *ngFor="let emp of employeesList; let i = index">
                        <td class="px-2 py-2 empId">{{emp.id}}</td>
                        <td class="px-2 py-2 empName">{{emp.name}}</td>
                        <td class="px-2 py-2 empEmail">{{emp.email}}</td>
                        <td class="px-2 py-2 empDept">{{emp.department}}</td>
                        <td class="px-2 py-2 empRpt">{{emp.reporting}}</td>
                        <td class="px-2 py-2 empAction">
                            <span class="edit" title="Edit" (click)="editEmployee()"></span>
                            <span class="delete" title="Delete" (click)="deleteEmployee()"></span>
                            <span class="empDetails" title="Details" (click)="onClickDetails(emp.id)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <ul class="list-group">
            <li class="list-group-item"  style="cursor:pointer;">{{emp.name}}
            </li>
        </ul> -->
        </div>
        <div class="pop-up" *ngIf="displayDetails">
            <app-employee-details [employeeSelected]="employee" (close)="onClose()">
            </app-employee-details>
        </div>
    </div>

</div>