.employeeData th,
.employeeData td {
    border: 1px solid #afc4e3;
}

.employeeData thead tr {
    background-color: #d5e3f5;
}

.add-employee {
    background-image: url(/assets/addEmployee.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 6px;
    float: right;
}

.pop-up {
    position: absolute;
    background-color: #e8f2ff;
    width: 80%;
    height: 70%;
    z-index: 2;
    margin: 5% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.pop-up-EmployeeForm {
    position: absolute;
    background-color: #e8f2ff;
    width: 80%;
    height: 70%;
    z-index: 2;
    margin: 5% auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.empId {
    width: 10%;
}

.empName {
    width: 30%;
}

.empEmail {
    width: 20%;
}

.empDept {
    width: 15%;
}

.empRpt {
    width: 15%;
}

.empAction {
    width: 10%;
}

.edit {
    width: 20px;
    height: 20px;
    background-image: url("/assets/edit.svg");
    display: flex;
    background-size: 100%;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}

.delete {
    width: 20px;
    height: 20px;
    background-image: url("/assets/delete.svg");
    display: flex;
    background-size: 100%;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}

.empDetails {
    width: 20px;
    height: 20px;
    background-image: url("/assets/empDetails.svg");
    display: flex;
    background-size: 100%;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}