<div class="sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-list-item" title="Home">
            <a [routerLink]="['/home']" routerLinkActive="sidebarMenu-selected"><img class="sideMenu-img" src="/assets/home.png" alt="Home"><span class="sideMenu-label">Employee Home</span></a>
        </li>
        <li class="sidebar-list-item" title="Leave Management">
            <a routerLinkActive="sidebarMenu-selected" [routerLink]="['/leave-management']"><img src="/assets/leave.svg" class="sideMenu-img" alt="Leaves"><span class="sideMenu-label">Leave Management</span></a>
        </li>
        <!-- <li *ngIf="is_admin" class="sidebar-list-item" title="Register New Employee">
            <a routerLinkActive="sidebarMenu-selected" [routerLink]="['/registerEmployee']">
                <img src="/assets/regEmp.png" class="sideMenu-img" alt="Register Employee"><span class="sideMenu-label">Register New Employee</span>
            </a>
        </li> -->
        <li *ngIf="is_admin" class="sidebar-list-item" title="View All Employees">
            <a routerLinkActive="sidebarMenu-selected" [routerLink]="['/employeeList']">
                <img src="/assets/allEmp.png" class="sideMenu-img" alt="View Employee"><span class="sideMenu-label">Employee Management</span>
            </a>
        </li>
    </ul>
</div>