.sidebar {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    padding: 10px 0 0 10px;
    transition: 0.5s;
    border-right: 1px solid #00000020;
}

.sidebar a {
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    color: #000;
    line-height: 23px;
}

.sidebar a:hover {
    color: #0a58ca;
}

.sideMenu div {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

.sideMenu .home {
    background: url("/assets/home.png") no-repeat 0/100%;
}

.sideMenu .leave {
    background: url("/assets/leave.png") no-repeat 0/100%;
    width: 22px;
}

.sideMenu .newEmp {
    background: url("/assets/regEmp.png") no-repeat 0/100%;
    height: 23px;
}

.sideMenu .allEmp {
    background: url("/assets/allEmp.png") no-repeat 0/100%;
}