.sidebar {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #e8f2ff;
    overflow-x: hidden;
    padding: 10px;
    transition: 0.5s;
    border-right: 1px solid #a2caff;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar-list-item {
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 89%;
    display: inline-block;
    line-height: 23px;
    font-size: 17px;
}

.sidebar a {
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}

.sidebar a:hover {
    color: #0a58ca;
}

.sideMenu-img {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 8px;
}

.sidebarMenu-selected {
    color: #0a58ca !important;
    font-weight: 500;
}