.global-container {
    height: 100%;
    overflow: hidden;
}

.sidebar-holder {
    float: left;
    width: 20%;
    height: 100%;
}

.content-holder {
    float: left;
    width: 80%;
    height: 100%;
    padding: 20px;
    position: relative;
}